.container {
  display: flex;
  flex-wrap: wrap;
}

.itemEntry {
  height: 200px;
  width: 200px;

  margin: 10px;
  border: 1px solid #ccc;
}

.itemEntry img {
  max-width: 100%;
  max-height: 100%;
}
.pagination {
  display: flex;
  justify-content: center;
}
.linkPage {
  display: flex;
  gap: 16px;
  justify-content: center;
}
